<h1>Along The Way</h1>
        Start: <input type="text" id="start" placeholder="Start"  />
        Destination: <input type="text" id="destination" placeholder="Destination" />
        Category: <input id="category" placeholder="Category"></input>
        <button id="sub">Submit!</button>