<h1>Along The Way</h1>
      <form>
        Start: <input type="text" name="start" id="start" placeholder="Start"  />
        Destination: <input type="text" name="destination" id="desination" placeholder="Destination" />
        Category: <input name="comments" id="category" placeholder="Category"></input>
        <input type="submit" id="sub" value="Submit!"/>

      </form>