<div class="img">
  <img src="https://files.gitter.im/bmccaffray/3acnQH/LZmU/mcby-icon.png" alt="">
  <h1>MCBYify</h1>
</div>
<div class="something">
<input type="text" id="start" placeholder="Start"  />
<input type="text" id="destination" placeholder="Destination" />
<select id="category">
  <option value="bar">Bars</option>
  <option value="cafe">Cafes</option>
  <option value="restaurant">Restaurants</option>
  <option value="movie_theater">Movie Theaters</option>
</select>
<select id="radius">
  <option value="402">.25 mile</option>
  <option value="804">.5 mile</option>
  <option value="1608">1 mile</option>
</select>
<button id="sub">Submit!</button>
</div>
