@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

body{
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  background-color: #eee;
}
.something, .img{
  background-color: #eee;
}

::-webkit-input-placeholder {
   color: gray;
   padding-left: .5em;
   font-size: 1.2em;


}

:-moz-placeholder { /* Firefox 18- */
   color: gray;
   padding-left: .5em;

}

::-moz-placeholder {  /* Firefox 19+ */
  color: gray;
  padding-left: .5em;

}

:-ms-input-placeholder {
  color: gray;
  padding-left: .5em;

}

#map-canvas {
  height: 650px;
  width:100%;
}

input {
    height: 3em;
    border-radius: 5px;
    display: inline;
    margin: 1.25em;
    width: 15em;
    border: solid 1px #ddd;
  }

  select {
    height: 3.4em;
    background-color: white;
    border: solid 1px #ddd;
    display: inline;
    margin: 1.25em;
    width: 15em;

  }

  button {
    height: 3.4em;
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 5px;
    display: inline;
    margin: 1.25em;
    width: 15em;
  }

h1{
  font-size: 4em;
  display: inline;
  margin-left: 1.5em;
  font-weight: 300;
}
.img img{
  width: 5em;
  display: inline;
  margin-left: 1.5em;
}

@media (max-width: 500px) {
  /*.something {
    display: block;
    margin: 1.25em;
  }*/
.img img{
  width: 3em;
  display: inline;
  margin-left: 2em;
}

h1{
  font-size: 2em;
  display: inline;
  margin-left: 1.5em;
  font-weight: 300;
}


  input {
    height: 3em;
    border-radius: 5px;
    display: block;
    width: 94%;
    margin: 1.25em;
  }

  select {
    background-color: white;
    display: block;
    width: 95%;
    margin: 1.25em;
  }

  button {
    background-color: white;
    border-radius: 5px;
    display: block;
    width: 95%;
    margin: 1.25em;
  }


  #map-canvas {
    height: 500px;
  }


}
