#map-canvas {
  height: 500px;
}
#form-bar {
  background-color: white;
}
.something input, select {
  display: inline;
  padding: .25em;
}



@media (max-width: 450px) {
  .something input, select, button {
    display: block;
    width: 93%;
    margin: 1.25em;
  }

input, button {
  border-radius: 5px;
}

select, button{
  height: 1.9em;
  background-color: white;
  width: 95%;
}

}
